<app-user-editor></app-user-editor>

<h1>Detail {{title}}</h1>

<section *ngIf="!isEditMode">
<div>
  <b>Name:</b>{{user.name}} <br>
  <b>Age:</b>{{user.age}} <br>
  <b>weight:</b>{{user.weight}} <br>
  <b>height:</b>{{user.height}} <br>
<span *ngIf="user.isHealthy()">Health!</span>
<button (click)="isEditMode=true">Edit</button>

</div>
</section>

<section *ngIf="isEditMode">
<h2>Editor</h2>
<div>
  <button (click)="isEditMode=false">Back</button>
  <pre> {{ user | json }}</pre>
  <input type="text" [(ngModel)]="user.name" /><br/>
  <input type="number" [(ngModel)]="user.age" /><br/>
  <input type="number" [(ngModel)]="user.weight" /><br/>
  <input type="number" [(ngModel)]="user.height" /><br/>

<button (click)="onCheckAge()"> 
  Check Age
</button>
<button (click)="onCheckBMI()"> 
  Check BMI
</button>
</div>
</section>