<app-user-editor></app-user-editor>

<h1>Detail {{title}}</h1>

<section *ngIf="!isEditMode" class="user-selector">
<ul>
  <li *ngFor="let item of users | filterPipe; let i = index" (click)="selectedUser=item">
    {{item.name}}  <span class="age" >Age:{{item.age}} </span> <button (click)="deleteUser(i)">Delete</button>
  </li>
</ul>
<div>
  <b>Name:</b>{{selectedUser.name}} <br>
  <b>Age:</b>{{selectedUser.age | myPipe}} <br>
  <b>weight:</b>{{selectedUser.weight}} <br>
  <b>height:</b>{{selectedUser.height}} <br>
<span *ngIf="selectedUser.isHealthy()">Health!</span>

<div>
  Sum Age : {{ users | sumPipe}}
</div>

<pre> {{users | filterPipe | json}}></pre>

<button (click)="addUser()">Add</button>

<button (click)="isEditMode=true">Edit</button>

</div>
</section>

<section *ngIf="isEditMode">
<div>
<h2>Editor</h2>
  <button (click)="isEditMode=false">Back</button>
  <pre> {{ selectedUser | json }}</pre>

  <input type="text" [(ngModel)]="selectedUser.name" /><br/>
  <input type="number" [(ngModel)]="selectedUser.age" /><br/>
  <input type="number" [(ngModel)]="selectedUser.weight" /><br/>
  <input type="number" [(ngModel)]="selectedUser.height" /><br/>

<button (click)="onCheckAge()"> 
  Check Age
</button>
<button (click)="onCheckBMI()"> 
  Check BMI
</button>
</div>
</section>